/* OFFICIAL STYLE FOR TECH-ZONE APP STARTS HERE */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply bg-tz_blue px-6 py-3  rounded-md text-white hover:bg-tz_dark_blue font-bold;
}

.btn:disabled{
    @apply bg-gray-400 dark:bg-gray-800 dark:text-gray-500
}

.btn_white{
    @apply border border-tz_blue px-6 py-3  rounded-md font-bold hover:bg-gray-100;
}

button:disabled{
    cursor: not-allowed;
}

nav{
    @apply w-full
}

.form_input{
    @apply border p-3 rounded-md  dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}



/* width */
::-webkit-scrollbar {
/* width: 12px; */
/* border-radius: 40px; */

}

/* Track */
::-webkit-scrollbar-track {
    /* background: #EDEFF3; */
    /* border-radius: 40px;  */
    /* @apply bg-blue-200 bg-opacity-20 */
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #4E79BC99;
    border-radius: 10px; */

    /* @apply bg-blue-300 dark:bg-tz_blue hover:bg-tz_dark_blue font-bold */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
/* background: #555;  */
}



.app_spinner {
    width: 20px;
    height: 20px;
    border: 3px solid gray;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.9s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

button{
    @apply hover:bg-opacity-95
}